.flex-container {
  display: flex;
  background-color: DodgerBlue;
  /* flex-direction: row; */
  /* flex-wrap: wrap-reverse; */
  flex-flow: wrap row;
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  height: 600px;
  /*align-items: stretch; */
}

.flex-container div {
  font-size: 30px;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 10px;
  width: 100px;
  text-align: center;
}
