.container {
  position: relative;
}
.topleft {
  position: absolute;
  /* top: 8px;
  left: 16px; */
  /* left: 0; */
  top: 50%;
  width: 100%;
  /* left:50%;  */
  font-size: 18px;
  text-align: center;
}
.center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
